<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1" verbose="1" annotations="JDK" parallel="tests">
  
  <test name="ToursBooking">
    <classes>
      <class name="com.AutDemo.ToursBooking"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="CruisesBooking">
    <classes>
      <class name="com.AutDemo1.CruisesBooking"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="BrokenLinks">
    <classes>
     <class name="com.AutDemo2.BrokenLinks"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
